body {
  background-color: #F2F2F2;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 0;
  padding-top: 84px;
}

@import 'common'
@import "_highlight/highlight"
@import "_partial/header";
@import "_partial/paginator";
@import "_partial/post";
@import "_partial/archive";