<section class='layout-photo'>
    <% site.posts.forEach(function(page, i){ %>
    <%if(page.isPhoto){%>
    <div class='photo-item'>
        <h4><%-page.title%>(<%-date(page.date)%>)</h4>
        <article><%-page.content%></article>
    </div>

    <% }}) %>
</section>