.layout-about
    main
        width: 400px;
        margin: 50px auto;
        background-image: radial-gradient(ellipse farthest-corner at 50% 0, #DBF5F1 0%, #9BE4D8 100%);
        padding: 20px;
        h2
            font-size: 24px;
        ul
            li 
              padding-left: 20px;   
