#header
 height:64px;
 width: 100%;
 box-sizing: border-box;
 overflow hidden;
.header-main
  height: 100%;
  position: fixed;
  z-index 9999;
  width: 100%;
  left:0;
  top:0;
  height:64px;
  background-color: #fff;
  box-sizing: border-box;
  border-bottom: 1px solid #eaecef;
  .outer
    display: flex;
    align-items: center; 
    max-width: 1580px;
    margin: 0 auto; 
    padding: 0 20px;
    .logo
      color: #AAA;
      font-size: 1.2em;
      font-family: "Comic Sans MS",cursive,LiSu,sans-serif;
      text-decoration: none;

    &:before, &:after
      content: "";
      display: table;
    .navbar
      height: 40px;
      line-height: 40px;
      padding: 12px 15px;
      a
        color: #757575;
        text-decoration: none;
        float: left;
        display: block;
        padding: 0 15px;
        &:hover
          color#38b7ea;


    