.layout-paginator
    .page-nav
        width: 800px;
        margin: 20px auto;
        display: flex;
        justify-content flex-end;
        align-items: center;
        .page-number
            width: 34px;
            height: 34px;
            border: 1px solid #e1e2e3;
            cursor: pointer;
            text-align: center;
            line-height: 34px;
            font-size: 12px;
            margin: 10px;
            text-decoration: none;
        .extend
            height: 34px;
            padding: 0 18px;
            border: 1px solid #e1e2e3;
            line-height: 34px;
            text-decoration: none;
            text-align: center;



