.layout-photo
    img
      max-width: 300px;
    .photo-item
        width: 1400px;
        margin: 30px auto;
        background: #aaa;
        padding: 10px;
        article
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
        p
           display: flex;
           max-width: 300px;
           flex-wrap: wrap;
           margin: 20px 20px;
           align-items: center;
           flex-direction: column;
           
        h4
            font-size: 24px;
    